html {
  text-align: center;
  line-height: 2em;
  font-family: tahoma;
  margin-left: 10%;
  margin-right: 10%;
}
  h1{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 45px;
  }
  h2 {
    font-size: x-large;
    padding-bottom: 20px;
  }
  h3 {
    font-size: medium;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-right: 15%;
    margin-left: 15%;
  }
    li {
      font-size: small;
    }


  @media screen and (max-width: 480px){
      h1{
        padding-top: 15px;
        padding-bottom: 30px;
        font-size: x-large;
        font-weight: bold;
      }
      h2 {
        font-size: medium;
      }
      h3 {
        font-size: medium;
        margin-left: 10%;
        margin-right: 10%;
      }
        li {
          font-size: small;
        }
  }
