html {
  text-align: center;
  line-height: 2em;
  font-family: tahoma;
  margin-left: 10%;
  margin-right: 10%;
}
  h1{
    font-size: xxx-large;
    font-weight: bold;
    padding-bottom: 45px;
  }
  h2 {
    font-size: x-large;
    padding-bottom: 20px;
  }


  @media screen and (max-width: 480px){
      h1{
        padding-top: 15px;
        padding-bottom: 30px;
        font-size: x-large;
        font-weight: bold;
      }
      h2 {
        font-size: medium;
      }
  }
